parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined method Tests\\IsMacroable::in\(\).#'
    checkMissingIterableValueType: false
    excludes_analyse:
        - "src/ServiceProvider.php"
