:root {
    /* --vp-c-brand: #b62838;
    --vp-c-brand-light: #b62838; */

    /* --vp-sidebar-width: 300px; */
}

/* .VPNavBarTitle .title {
    font-family: Oswald,sans-serif;
    font-weight: 300;
    letter-spacing: 6px;
    white-space: nowrap;
} */
