:root {
    --vp-sidebar-width: 300px;
    --vp-c-brand: #cc2824;
    --vp-c-brand-light: #b62838;
    --vp-c-brand-lighter: #c62b3d;
    --vp-c-brand-dark: #a61e1c;
    --vp-c-brand-darker: #921a18;
}

.VPHero .main {
    max-width: 697px !important;
    margin: 0 auto;
    margin-top: 120px;
}

.VPHero .main h1 {
    max-width: 677px !important;
}